*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    padding: 90px 15px 0;
}

.header{
    background-color:white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 1px rgb(161, 159, 159)
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-menu-link{
    color: black;
    text-decoration: none;
}

.nav-m-item{
    
    font-size: 18px;
    margin: 0 5px;
    line-height:  80px;

}

.nav-menu{
    display: flex;
    margin-right:0px;
    list-style: none;
}

.input{
    border: none;
    border-radius:30px;
    background-color: rgb(238, 244, 247);
    width: 1050px;
    height: 40px;
}
.input::placeholder{
        font: var(--fa-font-solid);
        content: "\f007";
        font-size: 12px;
      }

.icono{
    height: 25px;
    width: 25px;
    margin-top: 25px;
    
}

.card{
    display: flex;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    filter:grayscale(0.5)
}

.container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 27px;
    padding: 20px;
    grid-auto-flow: dense;
}

.image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}

.tall{
 grid-row: span 2;
}

